/* ApplyLeaveForm.css */

.apply-leave-form-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Ensure the container takes up the full viewport height */
}


.apply-leave-form {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left; /* Align content to the left */
  background-color: rgb(226, 208, 199);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='date'],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}
